html {
  height: 100%;
}

.body {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1600px;
  height: 100%;
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 1330px) {
    flex-direction: row;
  }

  &__wrapper-menu {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: $white-blur;
    position: absolute;
    z-index: 20;

    @media screen and (min-width: 1330px) {
      width: 320px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu {
    width: 320px;
    height: 100vh;
    position: fixed;
    z-index: 50;
    display: block;

    @media screen and (min-width: 1330px) {
      display: block;
    }
  }

  &__wrapper-call {
    opacity: 0;
    visibility: hidden;
    min-width: 320px;
    width: 100%;
    height: 100%;
    background-color: $white-blur;
    position: absolute;
    z-index: 40;
  }

  &__call {
    display: block;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;

    @media screen and (min-width: 1330px) {
      width: 440px;
    }
  }

  &__wrapper-feedback {
    opacity: 0;
    visibility: hidden;
    min-width: 320px;
    width: 100%;
    height: 100%;
    background-color: $white-blur;
    position: absolute;
    z-index: 40;
    transition: all 0.7s easy 0s;
  }

  &__feedback {
    display: block;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;

    @media screen and (min-width: 1330px) {
      width: 440px;
    }
  }

  &__main-part {
    width: auto;

    @media screen and (min-width: 1330px) {
      margin-left: 350px;
      width: auto;
    }
  }
}
