.row-centerer {
  display: flex;
  width: 228px;
  height: 200px;
  margin: auto;
  padding: 16px 0;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 95.5%;
    height: inherit;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }
}
