$light-grey: #f8f8f8;
$white: #fff;
$light-green: #d9fff5;
$black: #1b1c21;
$grey: #7e7e82;
$medium-grey: #b5b6bc;
$very-light-grey: #eaeaea;
$pink: #ff3e79;
$white-blur: rgba(255, 255, 255, 0.9);
